{% extends "app/base.html" %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-4 offset-sm-4">
                <h3 class="text-center">Customer Registration</h3>
                <hr>
                <div class="form-f my-4">
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}} <small class="text-danger fw-bold">{{fm.errors|striptags}}</small>
                        <br>
                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-warning"> <br>

                    <div class="text-center text-alert fw-bold">
                    <small> Already have an account? 
                        <a href="{% url 'login' %}" class="text-danger">Login Here!</a></small>
                    </div>
                    {% if form.non_field_erros%}
                        {% for error in form.non_field_erros %}
                            <p class="alert alert-danger my-3 fw-bold">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    {% if messages %}
                        {% for msg in messages%}
                            <div class="alert alert-{{msg.tags}}" role="alert">
                                {{msg}}
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %}