{% extends "app/base.html" %}
{% load static%}
{% block title %}Product Detail{% endblock title %}

{% block main-content %}
    <div class="container">
        <div class="row flex justify-content-between">
            <div class="img2 col-lg-5 mt-5">
                <img class="prod-imgs" src="{{product.productImage.url}}" class "image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-100 h-45" alt="">
            </div>
            <div class="productdetail col-lg-5">
                <h1 style="font-family: Georgia; font-size: 50px;">{{product.title}}</h1>
                <h5 class="price fw-bold text-danger">${{product.discountPrice}}/-</h5>
                <small class="price text-decoration-line-through text-muted fs-5"><del>$ {{product.originalPrice}}/- </small></del>
                <br><br><h4>Product Features</h4>
                <ul class="fs-5" style="font-family: Rajdhani;">
                    <li>{{product.description}}</l1>
                </ul>
                <ul class="fs-5" style="font-family: Rajdhani;">
                    <li>{{product.composition}}</l1>
                </ul>

            <form action="/add-to-cart" class="d-inline">
                <input type="hidden" name="prod_id" value={{product.id}}>
                <button type="submit"class="btn btn-primary shadow px-5 py-2 ms-4"><img src="{% static "app/images/icons/cart.gif"%}"  alt="cart" width="50" height="50"></button>
            </form>
            <a href="{% url 'add-to-cart' %}?prod_id={{ product.id }}" class="btn btn-warning shadow px-5 py-3 ms-4">Buy Now</a>
            {% if wishlist %}
            <a pid = {{product.id}} class="minus-wishlist btn btn-danger shadow px-5 py-3 ms-4"><img src="{% static "app/images/icons/heart.png"%}"  alt="wishlist"></a>
            {% else %}
            <a pid = {{product.id}} class="plus-wishlist btn btn-success shadow px-5 py-3 ms-4"><img src="{% static "app/images/icons/heart.png"%}"  alt="wishlist"></a>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock main-content %}
     