{% extends 'app/base.html' %}
{% load static %}
{% block title %} Search Result {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h1 class="text-center">Search Results</h1>
    <div class="row my-3">
        <div class="col-sm-8 mr-4 offset-1">
            <div class="row">
                {% for prod in product %}
                    <div class="col-sm-4 mr-4 text-center mb-4 hover-shadow">
                        <a href="{% url 'product-detail' prod.id %}" class="btn">
                            <div class="mr-3">
                                <img src="{{prod.productImage.url}}" width="300px" height="200px" />
                                <div class="fw-bold">{{prod.title}}</div>
                                <div class="fw-bold text-danger">${{prod.discountPrice}}/-
                                    <small class="fw-light text-decoration-line-through">{{prod.originalPrice}}</small>
                                </div>
                            </div>
                            <hr>
                        </a>
                    </div>       
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content%}